body{
    margin: 0px;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    padding: 0;
    width: 100%;
}
/* navbar */
.navbar{
    background-color: #212529;
    height: 48px;
    width: 100%;
    border-top: 3px solid;
    border-top-color: #dc392d;
    margin-bottom: 100px;
    letter-spacing :0.0625em;
    font-size :0.95rem;
    position: sticky;
    top: 0;
    overflow: hidden;
}

.logo-img{
    width: 100px;
    margin : 10px;
    margin-left: 140px;
    margin-top: 15px;
}
ul{
    color: rgba(255, 255, 255, 0.55);
    list-style:none;
    float:right;
    margin-right: 150px;

}
li{
    display: inline;
    margin : 10px ;
}
li:hover {
    color: #ffc800;
}

/* services */
.services {
    text-align: center;
    align-items: center;
    display: block;
    
}
/*boxes */
.box  {
    text-align: center;
    display: inline-block;
    margin-right: 100px;
    margin-left: 100px;
} 
h5
{
    font-style: italic;
    color: #6c757d;
    margin-bottom: 40px;
}


.description{
    color: #6c757d;
    display: block ;
    margin-bottom: 25px;
   
}
.name {
    margin-bottom: 0;
}

.container{
    margin: auto ;
    width: fit-content; 
}

.profile-image {
    border-radius: 50%;
    border: #d3dcdf solid 6px;
    width: 150px;
}

.about{
    text-align: center;
    display: inline-block;
    margin: 0 50 0 50;
    width: 800px;
    color: #6c757d;
    margin-top: 50px;
    font-size: 0.9rem;
}